.page {
    min-width: 1280px;
    max-width: 1600px;
    background: #000000;
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .page {
        max-width: 768px;
        min-width: 320px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .page {
        max-width: 1280px;
        min-width: 769px;
    }
}