.page {
    max-width: 1280px;
    background: #000000;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .page {
        max-width: 768px;
        min-width: 320px;
    }
}
